<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'mauth/fontawesome/css/fontawesome.css' %}" rel="stylesheet">
    <link href="{% static 'mauth/fontawesome/css/brands.css' %}" rel="stylesheet">
    <link href="{% static 'mauth/fontawesome/css/solid.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'assessment/mainPage.css' %}">
    <script src="{% static 'assessment/mainPageBase.js' %}" ></script>
    <title>IT4Pro</title>
</head>
<body>

    <div class="mainPageContainer">

        <div class="mainPageSidebar">
            <div class="sidebar">
                {% if activeSide == "profile" %}
                <a href="/profile/" class="mainPageSidebarElm active breakLine">
                {% else %}
                <a href="/profile/" class="mainPageSidebarElm breakLine">
                {% endif %}
                    <i class="fa fa-user-circle" aria-hidden="true"></i>
                    <p>Profile</p>
                </a>
                {% if activeSide == "questionSets" %}
                <a href="/questions/?cod=0" class="mainPageSidebarElm active">
                {% else %}
                <a href="/questions/?cod=0" class="mainPageSidebarElm">
                {% endif %}
                    <!-- <div class="mainPageSidebarElm"> -->
                        <i class="fa fa-question-circle" aria-hidden="true"></i>
                        <p>Question Sets</p>
                    <!-- </div> -->
                </a>
                
                {% if activeSide == "reportDashboard" %}
                <a href="/result/" class="mainPageSidebarElm active breakLine">
                {% else %}
                <a href="/result/" class="mainPageSidebarElm breakLine">
                {% endif %}
                    <i class="fa fa-pie-chart" aria-hidden="true"></i>
                    <p>Report Dashboard</p>
                </a>
    
                <a href="/auth/logout/" class="mainPageSidebarElm">
                    <i class="fa fa-user" aria-hidden="true"></i>
                    <p>Logout</p>
                </a>
            </div>
            
            
            <div class="sidebar mt35">
                <div id="SideCategoryTask" class="processImp">
                    <i class="fa fa-sort" aria-hidden="true"></i>
                    Process Improvment
                </div>
                {% if catIdPI == -1 %}
                    <div id="SideCategoryTaskList" class="PICategories disappear">
                {% else %}
                    <div id="SideCategoryTaskList" class="PICategories">
                {% endif %}
                    {% for cat in categoriesPI %}
                        {% if catIdPI == cat.id %}
                            <a class="mt10 border padding cursorpointer colorBlack activeCat" href="?catId={{cat.id}}">{{cat}}</a>
                        {% else %}
                            <a class="mt10 border padding cursorpointer colorBlack" href="?catId={{cat.id}}">{{cat}}</a>
                        {% endif %}
                        <!-- <div class="mt10 border padding cursorpointer">{{cat}}</div> -->
                    {% endfor %}
                </div>
            </div>

        </div>

        
        {% block mainPageContent %}
        {% endblock %}

    </div>
    <!-- {{ answers }}<br>
    {{ questions }}<br>
    {{ categories }}<br> -->
    
</body>
</html>